.avatar {
  width: min(70rem, 90%);
  margin: auto;
}

.about-section {
  background-color: var(--color-dark-100);
  padding: 6rem 2rem 2rem 2rem;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
  color: var(--white);
}

.about-title h2 {
  font-size: 70px;
  font-family: "Anton", sans-serif;
}

.fa-info {
  font-size: 50px;
  color: var(--color-primary-500);
}

.about-container {
  width: min(70rem, 95%);
  margin: auto;
  display: grid;
  gap: 1rem;
}

.about-card {
  background-color: var(--color-dark-100);
  border: 1px solid var(--color-dark-500);
  color: var(--color-surface-mixed-600);
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  transition: 200ms all;
  box-shadow: 1px 0 10px var(--shadow);
}

.about-container:hover .about-card:not(:hover) {
  filter: blur(3px);
}

@media (min-width: 1000px) {
  .about-card:first-child {
    grid-row: span 2;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.findMe {
  display: flex;
  align-items: center;
  background-color: var(--color-primary-500);
  padding: 0.5rem;
  margin-top: 10px;
  width: 50%;
  border-radius: 20px;
  justify-content: space-around;
}

.linkedInIcon {
  color: var(--color-dark-100);
  font-size: 30px;
}

.findMeLink {
  text-decoration: none;
  color: var(--color-dark-100);
  font-weight: 700;
  transition: 200ms ease;
}

.findMe:hover {
  background-color: var(--color-primary-100);
}

.card-title {
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-primary-500);
}

.card-title span {
  color: var(--white);
}

.spanmark {
  color: var(--white);
}

@media (max-width: 1000px) {
  .findMe {
    width: 100%;
  }
}

.dev-chair {
  width: min(700px, 95%);
  margin: auto;
  display: flex;
  filter: blur(10px);
}

.dev-chair.visible {
  filter: blur(0);
  transform: translateY(0);
}

.dev-chair.hidden {
  transform: translateY(20%);
}
