footer {
  display: flex;
  justify-content: space-between;
  width: min(1200px, 100%);
  margin: auto;
  padding: 1rem 0 1rem 0;
  align-items: center;
  border-top: 2px solid var(--color-primary-100);
}

.left-side {
  color: var(--white);
}

.middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.middle a {
  text-decoration: none;
  color: var(--color-dark-600);
  transition: 200ms ease;
}

.middle a:hover {
  color: var(--white);
  transition: 200ms ease;
}

.right-side {
  font-size: 35px;
  display: flex;
  gap: 10px;
}

.right-side a {
  text-decoration: none;
  color: var(--white);
}

.right-side a:hover {
  color: var(--color-primary-500);
}

@media (max-width: 1200px) {
  footer {
    flex-direction: column;
    gap: 1rem;
  }
}
