nav {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  width: min(70rem, 100%);
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
  margin-top: 1rem;
  border-radius: 20px;
  z-index: 1000;
  background-color: var(--color-dark-200);
  box-shadow: 1px 0 10px var(--shadow);
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 15px;
  align-items: center;
}

li a {
  cursor: pointer;
  color: var(--color-dark-600);
  font-weight: 600;
  transition: 100ms ease-out;
  text-decoration: none;
}

li a:hover {
  transition: 100ms ease-in;
  color: var(--white);
  text-shadow: 0 0 30px var(--color-primary-100);
}

.logo:hover,
.logo h1:hover,
.github-logo:hover,
.dark-toggle:hover {
  color: var(--color-primary-100);
  transition: 200ms ease;
}

.logo,
.logo h1 {
  font-size: 40px;
  font-weight: 300;
  z-index: 1000;
  text-decoration: none;
  color: var(--white);
  font-family: "Anton", sans-serif;
}

.burger {
  display: none;
  z-index: 1000;
}

@media (max-width: 1000px) {
  nav {
    margin-top: 0;
    border-radius: 0 0px 20px 20px;
    align-items: center;
    display: flex;
  }

  .burger {
    display: flex;
    font-size: 25px;
  }

  .navLinks {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    background-color: var(--color-dark-100);
  }

  .navLinks.active {
    display: flex;
    animation: slideIn 200ms ease;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    scale: 0.5;
  }

  to {
    transform: translateX(0);
    scale: 1;
  }
}

.dark-toggle {
  background: none;
  color: var(--white);
  font-size: 27px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sun-icon {
  background-color: none;
  display: block;
}

.moon-icon {
  display: block;
}

.github-logo {
  color: var(--white);
  text-decoration: none;
  display: block;
  font-size: 27px;
}
