.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  margin: auto;
}

.welcome {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

h1 {
  font-size: 6vw;
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 4vw;
  flex-wrap: nowrap !important;
}

h1,
h2 {
  font-weight: 300;
}

.dev-type {
  color: var(--color-primary-100);
  font-weight: 500;
}

.readmore-btn {
  width: 250px;
  padding: 15px 0 15px 0;
  border-radius: 20px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: var(--color-primary-100);
  margin-top: 10px;
}

.readmore-btn:hover {
  background-color: var(--color-primary-600);
  transition: 200ms ease;
}
